@import url("https://raw.githack.com/LuckFire/Theme-Source/main/src/source.css");

:root {
    --header-primary: #050505;
    --header-secondary: #050505;
    --text-normal: #FFFFFF;
    --text-muted: #FFFFFF;
    --text-link: #FFFFFF;
    --channels-default: #050505;
    --interactive-normal: #050505;
    --interactive-hover: #050505;
    --interactive-active: #050505;
    --interactive-muted: #050505;
    --background-primary: #050505;
    --background-secondary: #050505;
    --background-tertiary: #050505;
    --background-accent: #050505;
    --background-floating: #050505;
    --background-modifier-hover: rgba(5, 5, 5);
    --background-modifier-active: rgba(5, 5, 5);
    --background-modifier-selected: rgba(5, 5, 5);
    --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
    --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
    --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    --channeltextarea-background: #050505;
    --activity-card-background: #050505;
    --deprecated-panel-background: #292b2f;
    --deprecated-card-bg: rgba(32, 34, 37, 0.6);
    --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
    --deprecated-store-bg: #050505;
    --deprecated-quickswitcher-input-background: #050505;
    --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
    --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
    --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
    --deprecated-text-input-border-hover: #050505;
    --deprecated-text-input-border-disabled: #050505;
    --deprecated-text-input-prefix: #050505
}
